<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Консультации
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <ng-container *ngIf="isLoading">
    <ion-spinner
      name="crescent"
      [paused]="isPauseSpinner"
      margin-top
    ></ion-spinner>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <!-- welcome card  -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle text-center>Все консультации</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item
            *ngFor="let order of orders; let idx = index"
            button
            class="card-remove-inner-padding"
            no-padding
            (click)="pushPage(order.id, idx)"
            [routerDirection]="'forward'"
          >
            <ion-icon *ngIf="onIsAfter(order.date)" name="checkmark"></ion-icon>
            <ion-label>{{ order.fio }}</ion-label>
            <ion-badge
              slot="end"
              [color]="order.payed ? 'success' : 'medium'"
              >{{ order.date | date: 'dd.MM.yy' }}</ion-badge
            >
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <!-- //welcome card  -->
  </ng-container>
</ion-content>
