<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Назад" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ order.date | date: 'dd.MM.yyyy' }} {{ order.timeat }}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- welcome card  -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col size="12" text-center>
              <div>{{ order.select }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngIf="order.select == 'Предназначение'">
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary">ФИО</ion-label>
            <ion-input type="text" [value]="order.fio"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="order.fio_chbox"
            text-wrap
            class="card-remove-inner-padding"
            no-padding
          >
            <ion-label position="stacked" color="primary"
              >Новая Фамилия</ion-label
            >
            <ion-input type="text" [value]="order.fio_now"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="order.fio_chbox"
            text-wrap
            class="card-remove-inner-padding"
            no-padding
          >
            <ion-label position="stacked" color="primary"
              >Взяла у мужа</ion-label
            >
            <ion-input
              type="text"
              [value]="order.fio_chbox_husband_chbox ? 'Да' : 'Нет'"
            ></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Дата рождения по паспорту</ion-label
            >
            <ion-input
              type="text"
              [value]="order.birth_date + ' ' + order.birth_time"
            ></ion-input>
          </ion-item>
          <ion-item
            *ngIf="order.birth_chbox"
            text-wrap
            class="card-remove-inner-padding"
            no-padding
          >
            <ion-label position="stacked" color="primary"
              >Настоящая Дата рождения</ion-label
            >
            <ion-input
              type="text"
              [value]="
                order.birth_chbox_realdate + ' ' + order.birth_chbox_realtime
              "
            ></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Город и Страна рождения</ion-label
            >
            <ion-input type="text" [value]="order.from_city"></ion-input>
          </ion-item>
          <ion-item
            *ngIf="order.clinic_die_chbox"
            text-wrap
            class="card-remove-inner-padding"
            no-padding
          >
            <ion-label position="stacked" color="primary"
              >Дата клинической смерти или комы</ion-label
            >
            <ion-input type="text" [value]="order.clinic_die_date"></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Whatsapp или Instagram</ion-label
            >
            <ion-input type="text" [value]="order.contacts"></ion-input>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="order.select == 'Взаимоотношения'">
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary">ФИО</ion-label>
            <ion-input type="text" value="Иванова Татьяна Ивановна"></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >ФИО Партнера</ion-label
            >
            <ion-input
              type="text"
              value="Сидоров Александр Васильевич"
            ></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Дата рождения</ion-label
            >
            <ion-input type="text" value="21.01.1992 01:00"></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Дата рождения партнера</ion-label
            >
            <ion-input type="text" value="13.11.1985"></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Состоят в браке</ion-label
            >
            <ion-input type="text" value="Да"></ion-input>
          </ion-item>
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary"
              >Whatsapp или Instagram</ion-label
            >
            <ion-input type="text" value="+79991112233 tataya90"></ion-input>
          </ion-item>
        </ng-container>
        <ng-container *ngIf="order.select == 'Детская'">
          <ion-item text-wrap class="card-remove-inner-padding" no-padding>
            <ion-label position="stacked" color="primary">Раздел</ion-label>
            <ion-input type="text" value="В разработке"></ion-input>
          </ion-item>
        </ng-container>

        <ion-item text-wrap class="card-remove-inner-padding" no-padding>
          <ion-label position="stacked" color="primary"
            >Дата консультации</ion-label
          >
          <ion-datetime
            displayFormat="DD.MM.YYYY"
            [(ngModel)]="order.date"
            doneText="Сохранить"
            cancelText="Отмена"
          ></ion-datetime>
        </ion-item>

        <ion-grid>
          <ion-row justify-content-center>
            <ion-col size="6" text-center>
              <ion-item text-wrap class="card-remove-inner-padding" no-padding>
                <ion-label position="stacked" color="primary">С</ion-label>
                <ion-datetime
                  displayFormat="HH:00"
                  [(ngModel)]="order.timeat"
                  doneText="Сохранить"
                  cancelText="Отмена"
                  (ionChange)="onChangeTime()"
                ></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="6" text-center>
              <ion-item text-wrap class="card-remove-inner-padding" no-padding>
                <ion-label position="stacked" color="primary">До</ion-label>
                <ion-datetime
                  displayFormat="HH:00"
                  [(ngModel)]="order.timeto"
                  doneText="Сохранить"
                  cancelText="Отмена"
                ></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="6" text-center>
            <ion-button
              expand="block"
              color="danger"
              (click)="onDeleteOrder(id)"
              >Удалить</ion-button
            >
          </ion-col>
          <ion-col size="6" text-center>
            <ion-button
              expand="block"
              color="primary"
              (click)="onUpdateOrder(id)"
              >Подтвердить</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- //welcome card  -->
</ion-content>
