<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Главная
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- welcome card  -->
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle text-center>Добро пожаловать!</ion-card-subtitle>
      <ion-card-title>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col size="12" text-center>
              <div>Сегодня у Вас<br />2 консультации</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Иванова Татьяна Александровна</ion-label>
          <ion-badge slot="end" color="success">11-00</ion-badge>
        </ion-item>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Сидорова Василиса Геннадьевна</ion-label>
          <ion-badge slot="end" color="success">14-00</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- //welcome card  -->
  <!-- forms card  -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle text-center
        >Неоплаченные анкеты</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Иванова Татьяна Александровна</ion-label>
          <ion-badge slot="end" color="success">04.04.19</ion-badge>
        </ion-item>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Сидорова Василиса Геннадьевна</ion-label>
          <ion-badge slot="end" color="success">05.04.19</ion-badge>
        </ion-item>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Василькова Татьяна Геннадьевна</ion-label>
          <ion-badge slot="end" color="success">06.04.19</ion-badge>
        </ion-item>
        <ion-item class="card-remove-inner-padding" no-padding>
          <ion-label>Ромашкова Светлана Геннадьевна</ion-label>
          <ion-badge slot="end" color="success">07.04.19</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <!-- //forms card  -->
  <!-- questions card  -->
  <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle text-center
          >Новые Вопросы на сайте</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item class="card-remove-inner-padding" no-padding>
            <ion-label>Иванов А</ion-label>
            <ion-badge slot="end" color="success">ivanov232@yandex.ru</ion-badge>
          </ion-item>
          <ion-item class="card-remove-inner-padding" no-padding>
            <ion-label>Tatitana</ion-label>
            <ion-badge slot="end" color="success">Tatiana99@mail.ru</ion-badge>
          </ion-item>
          <ion-item class="card-remove-inner-padding" no-padding>
            <ion-label>Ирина</ion-label>
            <ion-badge slot="end" color="success">Irina1991@gmail.com</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  <!-- //questions card  -->
</ion-content>
